# Go workspace files
go/go.work
go/go.work.sum

# Rust target directory
rust/target

# The executables
go/microservice
rust/microservice

# The databases
go/store.db
rust/store.db

# Robot files
log.html
output.xml
report.html

# Restler files
Compile/
Fuzz/
FuzzLean/
RestlerLogs/
Test/
